body{
    margin: 0;
    padding: 0 0 10px 0;
    box-sizing: border-box;
    background: url(pic-fold/question-mark-blue-background-3d-render_188237-4096.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

}
body::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px); 
    z-index: -2;
}
.finshQuiz,
.Ques-con,
.wc-con,
.login{
    width: 50%;
    transition: all 0.5s ease;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-radius: 35px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    gap: 10px;
    height: 30%;
}

.wc-con span{
    font-size: 25px;
}
.login input{
    background-color: rgba(255, 255, 255, 0.422);
    border-radius: 50px;
    border:2px solid rgb(0, 0, 0);
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease;
}
.login input:focus{
    color: black;
    background-color: rgb(207, 207, 207);
    border:2px solid rgb(0, 0, 0);
    /* border-color: transparent; */
    outline: none;
    transform: translateY(-7px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    /* transform: translatex(-3px); */
    
    /* margin-bottom: 5px; */
}
.login input::placeholder{
    color: black;
}

.login h1{
    text-align: center;
    color: rgb(106, 165, 33);
}
.d-none{
    display: none;
}
#btn{
    background-color: blue;
    color: white;
    padding: 15px 35px;
    border-color: transparent;
    font-size: 17px;
    border-radius: 50px;
    transition: all 0.3s ease;
}
#btn:hover{
    border:2px solid white;
    background-color: rgb(4, 4, 117);
}
#nextBtn{
    background-color: rgb(0, 136, 255);
    color: white;
    padding: 12px 35px;
    border-color: transparent;
    font-size: 18px;
    border-radius: 50px;
    transition: all 0.3s ease;
}
#nextBtn:hover{
    border:2px solid rgb(109, 173, 250);
    background-color: rgb(109, 173, 250);
}
#options{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}
 .option-btn{
  width: 100%;
  padding: 12px;
  /* margin: 8px 0; */
  font-size: 18px;
  font-weight: 700;
  border: 2px solid #ccc;
  background: white;
  cursor: pointer;
  border-radius: 6px;
}

.option-btn.selected{
  background-color: #4caf50;
  color: white;
  border-color: #ffffff;
}
.Ques-con ul button{
    width: 100%;
}
.timer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 42px;
    padding: 2px 12px 2px 6px;
    border-radius: 12px;
    background-color: #ffffff56;
}
#timer-pic{
    animation: rotation 1s ease-in-out infinite reverse;
    animation-direction:alternate-reverse;
}
@keyframes rotation {
    form{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}