body{
    margin: 0;
    box-sizing: border-box;
    background: url(pic-fold/img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
body::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px); 
    z-index: -2;
}

.login{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    color: white;
    font-size: 20px;
    gap: 70px;
}
.wc-con{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    color: white;
    font-size: 20px;
    gap: 30px;
}
.wc-con span{
    font-size: 25px;
}
.wc-con::before{
    content: "";
    width: 50%;
    height: 70%;
    position: absolute;
    inset: 0;
    border-radius: 50px;
    border: 1px solid white;
    margin: auto;
    background: rgba(255, 255, 255, 0.089);
    backdrop-filter: blur(2px); 
    z-index: -1;
}
.login input{
    background-color: rgba(255, 255, 255, 0.422);
    border-radius: 50px;
    border:2px solid white;
    padding: 15px 140px;
    font-size: 18px;
    cursor: pointer;
    /* font-weight: 700; */
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease;
}
.login input:focus{
    color: black;
    background-color: white;
    border-color: transparent;
    outline: none;
    box-shadow: 0px 10px  rgb(99, 98, 98);
    margin-bottom: 5px;
}
.login input::placeholder{
    color: black;
}
.login::before{
    content: "";
    width: 50%;
    height: 70%;
    position: absolute;
    inset: 0;
    border-radius: 50px;
    border: 1px solid white;
    margin: auto;
    background: rgba(255, 255, 255, 0.089);
    backdrop-filter: blur(2px); 
    z-index: -1;
}
.login h1{
    text-align: center;
    color: rgb(106, 165, 33);
}
.d-none{
    display: none;
}
#btn{
    background-color: blue;
    color: white;
    padding: 15px 35px;
    border-color: transparent;
    font-size: 17px;
    /* font-weight: 700; */
    border-radius: 50px;
    transition: all 0.3s ease;
}
#btn:hover{
    border:2px solid white;
    background-color: rgb(4, 4, 117);
}