body{
    margin: 0;
    box-sizing: border-box;
    background: url(pic-fold/img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
body::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px); 
    z-index: -2;
}
.finshQuiz,
.Ques-con,
.wc-con,
.login{
    width: 80%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    border-radius: 45px;
    border: 2px double white;
    color: white;
    font-size: 20px;
    gap: 20px;
    height: 100%;
}

.wc-con span{
    font-size: 25px;
}
.login input{
    background-color: rgba(255, 255, 255, 0.422);
    border-radius: 50px;
    border:2px solid white;
    padding: 15px 140px;
    font-size: 18px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease;
}
.login input:focus{
    color: black;
    background-color: white;
    border-color: transparent;
    outline: none;
    box-shadow: 0px 10px  rgb(99, 98, 98);
    margin-bottom: 5px;
}
.login input::placeholder{
    color: black;
}

.login h1{
    text-align: center;
    color: rgb(106, 165, 33);
}
.d-none{
    display: none;
}
#btn{
    background-color: blue;
    color: white;
    padding: 15px 35px;
    border-color: transparent;
    font-size: 17px;
    border-radius: 50px;
    transition: all 0.3s ease;
}
#btn:hover{
    border:2px solid white;
    background-color: rgb(4, 4, 117);
}
#nextBtn{
    background-color: rgb(0, 136, 255);
    color: white;
    padding: 12px 35px;
    border-color: transparent;
    font-size: 18px;
    border-radius: 50px;
    transition: all 0.3s ease;
}
#nextBtn:hover{
    border:2px solid rgb(109, 173, 250);
    background-color: rgb(109, 173, 250);
}
#options{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}
 .option-btn{
  width: 100%;
  padding: 12px;
  /* margin: 8px 0; */
  font-size: 18px;
  font-weight: 700;
  border: 2px solid #ccc;
  background: white;
  cursor: pointer;
  border-radius: 6px;
}

.option-btn.selected{
  background-color: #4caf50;
  color: white;
  border-color: #ffffff;
}
.Ques-con ul button{
    width: 100%;
}
